<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Scarlets Speak</title>
  <link rel="stylesheet" href="/public/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

</head>
<body>

  <nav class="nav">
    <img src="/public/logo.png.jpg" alt="Logo" />
    <ul class="list">
      <li><a href="index.html" class="hsll">Home</a></li>
      <li><a href="stories.html" class="hsll">Stories</a></li>
      <li><a href="learn.html" class="hsll">Learn</a></li>
    </ul>
  </nav>

  <div class="hero">
    <h1>Breaking the Silence Around Periods</h1>
    <p>Your story can empower someone else. Be seen. Be heard.</p>
    <a href="stories.html" class="hero-btn">Share Your Story</a>
  </div>

  <div class="container">
    <div class="article">
      <h2>Periods are not the same for all</h2>
      <p>No two periods are the same - and that's okay. We all go through it differently - 
        the emotions, the stories, the ups and downs. Scarlet Speak is a space to share 
        those real, raw, and honest experiences without filters or fear.</p>
      <p>Here, it's not about medical facts - it's about your truth. Whether it's your 
        first period, a Oops moment, or a tough day - your voice matters.</p>
      <p>Where every flow has a voice.</p>
      <br>
      <ul class="list2">
        <li><a href="learn.html" class="hsll2">Know More</a></li>
      </ul>
    </div>
  </div>

  <div class="footer">
    <p>@ 2025 Scarlets Speak | All rights reserved</p>
  </div>

</body>
</html>
